* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    background-color: #16a085;
    text-align: center;
    font-size: 2.5em;
}

.header-text {
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    color: white;
}

.logo {
    display: inline-block;
    vertical-align: bottom;
}

.content {
    flex: 1;
    background-color: #1abc9c;
    color: #3a4144;
}

.footer {
    background-color: #16a085;
    padding: 2%;
    text-align: center;
    width: 100%;
    height: 5%;
    color: white;
}

table {
    border-collapse: collapse;
    width: 85%;
    margin: auto;
    margin-bottom: 2%;
    box-shadow: 0 0 10px;
}

th, td {
    text-align: left;
    padding: 1%;
}

tr:nth-child(odd) td {
    background: #d3d6cd;
}

tr:nth-child(even) {
    background: #e0eaf3;
}

th {
    background: #000000;
    color: #ffffff;
}

.tableContainer {
    overflow-x: auto;
    text-align: center;
}

#search {
    border: 1px solid #DADADA;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
    height: 40px;
    font-size: 20px;
    box-shadow: 0 0 10px;
    border-radius: 5px;
    text-align: center;
}

}