argcomplete
asgiref
attrs
certifi
chardet
Django
django-crontab
future
h5py
idna
importlib-metadata
iniconfig
numpy
packaging
pandas
Pillow
pluggy
psycopg2-binary
py
pyparsing
pytest
pytest-django
python-dateutil
pytz
requests
git+https://www.github.com/weecology/retriever@main
six
sqlparse
toml
tqdm
urllib3
yapf
xlrd
zipp
